*{margin: 0px;
font-family: 'inter';}
#logo {margin-left: 50px;
margin-top: 50px;}
#titulo-menusuperior {color: rgb(255, 255, 255);
margin-left: 150px;
margin-top: 50px;}
#txt1-menusuperior {color: rgb(255, 255, 255);
margin-left: 150px;
margin-top: 35px;
padding-bottom: 100px;}
 #menusuperior 
 {background-image: url(imagems/fundo.svg);
color: aliceblue;}

#menuinformativo 
{background-color: #EAECE5;
display: grid;
grid-auto-flow: column;
columns: auto;}

.icones
{margin: 50px 0px 50px 100px;
padding: 25px;}

#secaovideo
{display:grid;
grid-auto-flow:column;
columns: auto;}

.textoinformativo 
{display: flex;
align-items: center;}

#titulovideo
{color: rgb(9, 127, 206);
margin-top: 50px;
text-align: justify;}


#textovideo
{margin-top: 25px;
text-align: justify;}


#video
{margin: 50px 25px 50px 100px}


#carrosel
{background-color: #247BA0;
text-align: center;
padding: 50px;}

#titulocarrosel
{font-size:25px ;
margin-top: 0px;
text-align: center;
color: aliceblue;}

#div-cards
{display:grid;
grid-auto-flow:column;
margin-top: 25px;}

.cards
{margin-left: 50px;}

#setaesquerda
 {display: none;}
 #bruna
 {display: none;}

 .setas
 {margin-top: 80%;
cursor: pointer;}

.setas:hover
{transform:translateY(-5px) ;
transition-duration:0.8;}

#formulario
{text-align: center;}

#tituloformulario
{margin: 25px;
font-size: 25px;
color: rgb(48, 43, 43);}

input
{margin: 15px;
width: 300px;
height: 40px;
background-color: rgb(230, 215, 192);
border: 0px;
border-radius: 5px;
padding-left: 10px;}

button
{background-color: #179ed8;
    width: 250px;
    height: 40px;
    color: #EAECE5;
    border: 0px;
    border-radius: 5px;
    margin-bottom: 50px;
    font-weight: bolder;
    cursor:pointer;}

button:hover
{background-color:#1e6b8f ;
color: white;
transform: translateY(-7px);
box-shadow: 0px 15px 20px rgb(13, 13, 68) ;}

